#age = int(input("how old are you? "))
#if age == 100:
    #print("u are a century old")
#elif age >= 18 :
    #print("u are an adult")
#elif age < 0 :
    #print("u haven't been born yet")
#else :
    #print("u are a child")
    
    
#temp = int(input("what is the temperature outside? "))
#if temp >= 0 and temp <= 30 :#dont't forget about NOT(this hashtag doesn't apply to the code)
    #print("the temperature ia good today")
    #print("go outside")
#elif temp < 0 or temp >30 :
    #print("the temperature is bad today")
    #print("go inside")
    
    
#while 1==1 :
    #print("i love Nissan GTR R35")  #endless code  


#name = None
#while not name:
    #name = input ("enter your name : ")
#print("hello,",name)    


                      #while loop = unlimited
                      #for loop = limited

#for a in range(1,12+1,2):
    #print(a)
    
#for i in "Nissan" :
    #print(i)
    
#import time
#for seconds in range(10,0,-2):
    #print(seconds)
    #time.sleep(2)
#print("happy holidays!")
